# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Text101.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Projects\Udemy\Text101\.idea\.idea.Text101\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
